body{
    background-color: black;
    color:white;
    }
    .heading{
    width: 80%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #camera{
    border: 4px solid rgb(9, 4, 255);
    width: 400px;
    height:300px;
    }
    #result{
        border: 4px solid rgb(142, 112, 112);
        width: 400px;
        height:300px;
    }
    .name_of_object,#object_name,#object_accuracy{
    color:rgb(2, 255, 171);
    }